.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1e293b;
    padding: 15px 30px;
    color: white;
}

.logo {
    font-size: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links li {
    cursor: pointer;
}

.nav-links li:hover {
    color: #38bdf8;
}

.logout-btn {
    background: #ef4444;
    border: none;
    padding: 8px 14px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}